.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
    background: #161616;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 30vw;
    height: 60vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #1e1e1e;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    /* Scrollbar Settings */

    scrollbar-width: thin;
    scrollbar-color: #989898 #1e1e1e;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: normal;
}

.input {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1e1e1e;
}

/* Home.jsx focused */

.help-link {
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    cursor: pointer;
    position: relative;
    bottom: -20%;
}

/* register.jsx focused */

/* firstStep focused */

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.2);
    color: #ffffff;
    border: 2px solid rgba(255, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    gap: 20px;
}

.warning h2 {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 10px;
}

.warning p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.understand {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 80px;
    text-align: center;
    font-weight: bold;
}

.understand input {
    width: 30px;
    height: 30px;
}

/* secondStep focused */

.input-correct {
    border-color: green;
}

.input-incorrect {
    border-color: yellow;
}

.input-error {
    border-color: red;
}

/* login.jsx focused */

/* index.jsx focused */

/* index.tsx focused */